# Ignore distribution
/target
# Ignore Cargo.lock
Cargo.lock
# Ignore IDE project files
.idea/
# Ignore CMake build directories
cmake-build-debug/
# Ignore CMakeLists.txt if it's specific to a certain IDE or environment
CMakeLists.txt
